<div class="row" style="margin-left:0px;margin-right:0px;">
  <div class="col-md-12" style="text-align:center;background-color:black;color:white;">
    
   <h3 class="panel-heading" >
   <!-- <b>DEPARTMENT OF CLINICAL PSYCHOLOGY</b><br>
   <b>NATIONAL INSTITUTE OF MENTAL HEALTH AND NEUROSCIENCES</b> -->
   <b>WELCOME TO SAMS</b><br>
   <b>Self-Awareness of Mood Symptoms</b>
  </h3>
  
  </div>
  </div>

<div class="center-container" style="overflow-y:auto;">
    <div class="row" style="margin-left:0px; margin-right:0px;">
    
      <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <div class="content-top">
    
    
        
        <div class="header-div" style="text-align:center;background-color:#349834;width:100%;margin-left:auto;margin-right:auto;margin-bottom:30px;">
        <!-- <h4 class="header-w3ls header_class">Login</h4> -->
        
        </div>
          <form id="userLogin" class="form-horizontal">
            <div class="panel-body">
              
              <div class="form-group">
                  <label class="col-md-4 control-label">Organisation Code</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" [(ngModel)]="companyCode" id="companyCode" name="companyCode" placeholder = "Organisation Code">
                  </div>
                  <div class="col-md-4"></div>
              </div>
              
              
              
              
                
              </div>
            
            
            <div class="panel-footer">
              <div class="row">
                <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4" style="text-align:center;">
                  <div class="">
                      <button type="button" (click)="userLogin()" class="btn btn-primary" id="loginButton">Enter</button>
                      
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="col-md-12">
                
                  <p>Access to this app  is currently through  organisations  based in India  that   request   for  an  access   for   their  members/staff.</p>
            <p>You will need to enter the organisation code provided to your organisation in order to begin using  this app.</p>
            <p>Organizations  can  request  access by sending a formal request at push.d.nimhans@gmail.com</p>
            <p>If  you do not have an organization code, you can access the same tool by registering as an individual at 
              <a  href="https://echargementalhealth.nimhans.ac.in/pushd/">
                 <span style="color:blue;text-decoration:underline;">https://echargementalhealth.nimhans.ac.in/pushd/
                </span> 
              </a> 
            </p>
            
                
              </div>                
              </div>
            </div>
            <br>
            
            
          </form>
        </div>

      </div>
    </div>
    <div class="clear"></div>
    
      </div>
      
    </div>
   
      
    <!-- <div class="footer" id="footer">
                
        <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
          <p class="copyright">Copyright &copy; 2019 - NIMHANS</p>
        </div>
      
      </div> -->