<div class="row" style="margin-left:0px;margin-right:0px;text-align:center;background-color:black;color:white;">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="text-align:center;background-color:black;color:white;">
    
   <h3 class="panel-heading" >
   <!-- <b>DEPARTMENT OF CLINICAL PSYCHOLOGY</b><br>
   <b>NATIONAL INSTITUTE OF MENTAL HEALTH AND NEUROSCIENCES</b> -->
   <b>WELCOME TO SAMS</b><br>
   <b>Self-Awareness of Mood Symptoms</b>
  </h3>
  
  </div>
  <div class="col-md-1">
       
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-primary" title="Logout" (click)="logOut()" style="border-radius: 10%;margin-top:10px;margin-bottom:10px;"><i class="glyphicon glyphicon-log-out"></i></button>
  </div>
  </div>
<div class="center-container" style="padding-top:0px;">

    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="col-md-12" style=" background-color: #fcfbb1;">
          <div class="col-md-2"></div>
      <div class=" col-md-8 header-div" style=" margin: auto;text-align:center;">
      
      </div>
      <div class="col-md-1">
       
      </div>
      <div class="col-md-1">
        <!-- <button type="button" class="btn btn-primary" (click)="logOut()" style="border-radius: 10%;margin-top:10px;margin-bottom:10px;"><i class="w3-medium fa fa-sign-out"></i>Logout</button> -->
      </div>
    </div>
  </div>
  <div class="row" style="margin-left:0px;margin-right:0px;">
  
    <div class="col-md-12">
      
      
      
<div class="content-top" style="background-color:#fcfbb1;">
    

  <div class="header-div" style="background-color:white;width:100%;margin-left:auto;margin-right:auto;margin-bottom:30px;">
    <h4 class="header-w3ls header_class"> Brief Assessment<br>Anxiety Symptoms</h4>
    </div>
  
      
     <!-- begin GAD-7 -->
					
     <div id="q4" class="q required col-md-12 ">
						
      <table class="matrix1">

      <tr>
        <th scope="col">Over the last 2 weeks, how often have you been bothered by the following problems? &nbsp;</th>
        <th width="60px;" scope="col">Not at all</th>
        <th width="60px;" scope="col">Several Days</th>
        <th width="60px;" scope="col">More than half the days</th>
        <th width="60px;" scope="col">Nearly every day</th>
      </tr>
      
      <tr class="matrix_row_light">
        <td class="question" style="width: px;">1. Feeling nervous, anxious or on edge.</td>
        <td><label for="RESULT_RadioButton-5-0-0"
          class="hidden">Strongly Agree</label><input
          type="radio" name="RESULT_RadioButton-5-0"
          class="multiple_choice" id="RESULT_RadioButton-5-0-0" value="0" /></td>
        <td><label for="RESULT_RadioButton-5-0-1"
          class="hidden">Agree</label><input type="radio"
          name="RESULT_RadioButton-5-0" class="multiple_choice"
          id="RESULT_RadioButton-5-0-1" value="1" /></td>
        <td><label for="RESULT_RadioButton-5-0-2"
          class="hidden">Neutral</label><input type="radio"
          name="RESULT_RadioButton-5-0" class="multiple_choice"
          id="RESULT_RadioButton-5-0-2" value="2" /></td>
        <td><label for="RESULT_RadioButton-5-0-3"
          class="hidden">Disagree</label><input type="radio"
          name="RESULT_RadioButton-5-0" class="multiple_choice"
          id="RESULT_RadioButton-5-0-3" value="3" /></td>
        
      </tr>
      
      <tr class="matrix_row_dark">
        <td class="question" style="width: px;">2. Not being able to stop or control worrying </td>
        <td><label for="RESULT_RadioButton-5-1-0"
          class="hidden">Strongly Agree</label><input
          type="radio" name="RESULT_RadioButton-5-1"
          class="multiple_choice" id="RESULT_RadioButton-5-1-0" value="0" /></td>
        <td><label for="RESULT_RadioButton-5-1-1"
          class="hidden">Agree</label><input type="radio"
          name="RESULT_RadioButton-5-1" class="multiple_choice"
          id="RESULT_RadioButton-5-1-1" value="1" /></td>
        <td><label for="RESULT_RadioButton-5-1-2"
          class="hidden">Neutral</label><input type="radio"
          name="RESULT_RadioButton-5-1" class="multiple_choice"
          id="RESULT_RadioButton-5-1-2" value="2" /></td>
        <td><label for="RESULT_RadioButton-5-1-3"
          class="hidden">Disagree</label><input type="radio"
          name="RESULT_RadioButton-5-1" class="multiple_choice"
          id="RESULT_RadioButton-5-1-3" value="3" /></td>
        
      </tr>
      
      <tr class="matrix_row_light">
        <td class="question" style="width: px;">3. Worrying too much about different things </td>
        <td><label for="RESULT_RadioButton-5-2-0"
          class="hidden">Strongly Agree</label><input
          type="radio" name="RESULT_RadioButton-5-2"
          class="multiple_choice" id="RESULT_RadioButton-5-2-0" value="0" /></td>
        <td><label for="RESULT_RadioButton-5-2-1"
          class="hidden">Agree</label><input type="radio"
          name="RESULT_RadioButton-5-2" class="multiple_choice"
          id="RESULT_RadioButton-5-2-1" value="1" /></td>
        <td><label for="RESULT_RadioButton-5-2-2"
          class="hidden">Neutral</label><input type="radio"
          name="RESULT_RadioButton-5-2" class="multiple_choice"
          id="RESULT_RadioButton-5-2-2" value="2" /></td>
        <td><label for="RESULT_RadioButton-5-2-3"
          class="hidden">Disagree</label><input type="radio"
          name="RESULT_RadioButton-5-2" class="multiple_choice"
          id="RESULT_RadioButton-5-2-3" value="3" /></td>
        
      </tr>
      
      <tr class="matrix_row_dark">
        <td class="question" style="width: px;">4. Trouble relaxing </td>
        <td><label for="RESULT_RadioButton-5-3-0"
          class="hidden">Strongly Agree</label><input
          type="radio" name="RESULT_RadioButton-5-3"
          class="multiple_choice" id="RESULT_RadioButton-5-3-0" value="0" /></td>
        <td><label for="RESULT_RadioButton-5-3-1"
          class="hidden">Agree</label><input type="radio"
          name="RESULT_RadioButton-5-3" class="multiple_choice"
          id="RESULT_RadioButton-5-3-1" value="1" /></td>
        <td><label for="RESULT_RadioButton-5-3-2"
          class="hidden">Neutral</label><input type="radio"
          name="RESULT_RadioButton-5-3" class="multiple_choice"
          id="RESULT_RadioButton-5-3-2" value="2" /></td>
        <td><label for="RESULT_RadioButton-5-3-3"
          class="hidden">Disagree</label><input type="radio"
          name="RESULT_RadioButton-5-3" class="multiple_choice"
          id="RESULT_RadioButton-5-3-3" value="3" /></td>
        
      </tr>
      
      <tr class="matrix_row_light">
        <td class="question" style="width: px;">5. Being so restless that it is hard to sit still </td>
        <td><label for="RESULT_RadioButton-5-4-0"
          class="hidden">Strongly Agree</label><input
          type="radio" name="RESULT_RadioButton-5-4"
          class="multiple_choice" id="RESULT_RadioButton-5-4-0" value="0" /></td>
        <td><label for="RESULT_RadioButton-5-4-1"
          class="hidden">Agree</label><input type="radio"
          name="RESULT_RadioButton-5-4" class="multiple_choice"
          id="RESULT_RadioButton-5-4-1" value="1" /></td>
        <td><label for="RESULT_RadioButton-5-4-2"
          class="hidden">Neutral</label><input type="radio"
          name="RESULT_RadioButton-5-4" class="multiple_choice"
          id="RESULT_RadioButton-5-4-2" value="2" /></td>
        <td><label for="RESULT_RadioButton-5-4-3"
          class="hidden">Disagree</label><input type="radio"
          name="RESULT_RadioButton-5-4" class="multiple_choice"
          id="RESULT_RadioButton-5-4-3" value="3" /></td>
        
      </tr>
      
      <tr class="matrix_row_dark">
        <td class="question" style="width: px;">6. Becoming easily annoyed or irritable </td>
        <td><label for="RESULT_RadioButton-5-5-0"
          class="hidden">Strongly Agree</label><input
          type="radio" name="RESULT_RadioButton-5-5"
          class="multiple_choice" id="RESULT_RadioButton-4-5-0" value="0" /></td>
        <td><label for="RESULT_RadioButton-5-5-1"
          class="hidden">Agree</label><input type="radio"
          name="RESULT_RadioButton-5-5" class="multiple_choice"
          id="RESULT_RadioButton-5-5-1" value="1" /></td>
        <td><label for="RESULT_RadioButton-5-5-2"
          class="hidden">Neutral</label><input type="radio"
          name="RESULT_RadioButton-5-5" class="multiple_choice"
          id="RESULT_RadioButton-5-5-2" value="2" /></td>
        <td><label for="RESULT_RadioButton-5-5-3"
          class="hidden">Disagree</label><input type="radio"
          name="RESULT_RadioButton-5-5" class="multiple_choice"
          id="RESULT_RadioButton-5-5-3" value="3" /></td>
        
      </tr>
      
      <tr class="matrix_row_light">
        <td class="question" style="width: px;">7. Feeling afraid as if something awful might happen </td>
        <td><label for="RESULT_RadioButton-5-6-0"
          class="hidden">Strongly Agree</label><input
          type="radio" name="RESULT_RadioButton-5-6"
          class="multiple_choice" id="RESULT_RadioButton-5-6-0" value="0" /></td>
        <td><label for="RESULT_RadioButton-5-6-1"
          class="hidden">Agree</label><input type="radio"
          name="RESULT_RadioButton-5-6" class="multiple_choice"
          id="RESULT_RadioButton-5-6-1" value="1" /></td>
        <td><label for="RESULT_RadioButton-5-6-2"
          class="hidden">Neutral</label><input type="radio"
          name="RESULT_RadioButton-5-6" class="multiple_choice"
          id="RESULT_RadioButton-5-6-2" value="2" /></td>
        <td><label for="RESULT_RadioButton-5-6-3"
          class="hidden">Disagree</label><input type="radio"
          name="RESULT_RadioButton-5-6" class="multiple_choice"
          id="RESULT_RadioButton-5-6-3" value="3" /></td>
        
      </tr>
      
      
      
      </table>
      
      
    </div>
    
    
    <!-- end of GAD-7 -->
      <!-- begin WSAS questions -->
      <div id="q4" class="q required col-md-12" style="border:2px solid black;margin-top:10px;">
						
        <h2 style="color:black;text-align:center;text-decoration:underline;margin-bottom:20px;">Your current  functioning</h2>
        
        <span class="question top_question">Instructions: People's problems sometimes affect their ability to do certain day-to-day tasks in their lives. Below is a list of statements dealing with  your  current  functioning in the last 2 weeks. 
        Please read the items carefully and choose one  of the options that best describes you. '0' means 'not at all impaired' and '8' means very severely impaired to the point I can't work.&nbsp;<b class="icon_required" style="color:#FF0000">*</b></span>
        <br>
        <br>
        
        
        
        <div class="col-md-12" style="margin-bottom:20px;">
    
    
        <div class="form-group">
      
        <label class="label-css">1. Because of my [problem] my ability to work is impaired.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> 
        
        <div class ="dropdown col-md-6">
        
        <select  id = "select_ability" class="drop_down" style = "background-color:#F0F3FA;">
        <option  value="9" class ="option_class" selected>Select</option>
        <option value="0"  class ="option_class" name="RESULT_RadioButton-6-0-0">0(Not at all)</option>
            <option value="1" class ="option_class" name="RESULT_RadioButton-6-0-1">1</option>
            <option value="2" class ="option_class" name="RESULT_RadioButton-6-0-2">2(Slightly)</option>
            <option value="3" class ="option_class" name="RESULT_RadioButton-6-0-3">3</option>
            <option value="4" class ="option_class" name="RESULT_RadioButton-6-0-4">4(Definitely)</option>
            <option value="5" class ="option_class" name="RESULT_RadioButton-6-0-5">5</option>
            <option value="6" class ="option_class" name="RESULT_RadioButton-6-0-6">6(Markedly)</option>
            <option value="7" class ="option_class" name="RESULT_RadioButton-6-0-7">7</option>
            <option value="8" class ="option_class" name="RESULT_RadioButton-6-0-8">8(Very severely)</option>
        
        </select>
        
        </div>
        
        </div>
        
      </div>
      
      
      
      <div class="col-md-12" style="margin-bottom:20px;">
    
    
        <div class="form-group">
      
        <label class="label-css">2. Because of my [problem] my home management (cleaning, tidying, shopping, cooking, looking after home or children, paying bills) is impaired.</label> 
        
        <div class ="dropdown col-md-6">
        
        <select  id = "select_home" class="drop_down" style = "background-color:#F0F3FA;">
        <option value="9" class ="option_class" selected>Select</option>
        <option value="0"  class ="option_class" name="RESULT_RadioButton-6-1-0">0(Not at all)</option>
            <option value="1" class ="option_class" name="RESULT_RadioButton-6-1-1">1</option>
            <option value="2" class ="option_class" name="RESULT_RadioButton-6-1-2">2(Slightly)</option>
            <option value="3" class ="option_class" name="RESULT_RadioButton-6-1-3">3</option>
            <option value="4" class ="option_class" name="RESULT_RadioButton-6-1-4">4(Definitely)</option>
            <option value="5" class ="option_class" name="RESULT_RadioButton-6-1-5">5</option>
            <option value="6" class ="option_class" name="RESULT_RadioButton-6-1-6">6(Markedly)</option>
            <option value="7" class ="option_class" name="RESULT_RadioButton-6-1-7">7</option>
            <option value="8" class ="option_class" name="RESULT_RadioButton-6-1-8">8(Very severely)</option>
        
        </select>
        
        </div>
        
        </div>
        
      </div>
      
      <div class="col-md-12" style="margin-bottom:20px;">
    
    
        <div class="form-group">
      
        <label class="label-css">3. Because of my [problem] my social leisure activities (with other people e.g. parties, bars, clubs, outings, visits, dating, home entertaining) are impaired.</label> 
        
        <div class ="dropdown col-md-6">
        
        <select  id = "select_leisure"  class="drop_down" style = "background-color:#F0F3FA;">
        <option  value="9" class ="option_class" selected>Select</option>
        <option value="0"  class ="option_class" name="RESULT_RadioButton-6-2-0">0(Not at all)</option>
            <option value="1" class ="option_class" name="RESULT_RadioButton-6-2-1">1</option>
            <option value="2" class ="option_class" name="RESULT_RadioButton-6-2-2">2(Slightly)</option>
            <option value="3" class ="option_class" name="RESULT_RadioButton-6-2-3">3</option>
            <option value="4" class ="option_class" name="RESULT_RadioButton-6-2-4">4(Definitely)</option>
            <option value="5" class ="option_class" name="RESULT_RadioButton-6-2-5">5</option>
            <option value="6" class ="option_class" name="RESULT_RadioButton-6-2-6">6(Markedly)</option>
            <option value="7" class ="option_class" name="RESULT_RadioButton-6-2-7">7</option>
            <option value="8" class ="option_class" name="RESULT_RadioButton-6-2-8">8(Very severely)</option>
        
        </select>
        
        </div>
        
        </div>
        
      </div>
      
      <div class="col-md-12" style="margin-bottom:20px;">
    
    
        <div class="form-group">
      
        <label class="label-css">4. Because of my [problem], my private leisure activities (done alone, such as reading, gardening, collecting, sewing, walking alone) are impaired.</label> 
        
        <div class ="dropdown col-md-6">
        
        <select  id = "select_private" class="drop_down" style = "background-color:#F0F3FA;">
        <option value="9" class ="option_class" selected>Select</option>
        <option value="0"  class ="option_class" name="RESULT_RadioButton-6-3-0">0(Not at all)</option>
            <option value="1" class ="option_class" name="RESULT_RadioButton-6-3-1">1</option>
            <option value="2" class ="option_class" name="RESULT_RadioButton-6-3-2">2(Slightly)</option>
            <option value="3" class ="option_class" name="RESULT_RadioButton-6-3-3">3</option>
            <option value="4" class ="option_class" name="RESULT_RadioButton-6-3-4">4(Definitely)</option>
            <option value="5" class ="option_class" name="RESULT_RadioButton-6-3-5">5</option>
            <option value="6" class ="option_class" name="RESULT_RadioButton-6-3-6">6(Markedly)</option>
            <option value="7" class ="option_class" name="RESULT_RadioButton-6-3-7">7</option>
            <option value="8" class ="option_class" name="RESULT_RadioButton-6-3-8">8(Very severely)</option>
        
        </select>
        
        </div>
        
        </div>
        
      </div>
      
      <div class="col-md-12" style="margin-bottom:20px;">
    
    
        <div class="form-group">
      
        <label class="label-css">5. Because of my [problem], my ability to form and maintain close relationships with others, including those I live with, is impaired.</label> 
        
        <div class ="dropdown col-md-6">
        
        <select   id = "select_maintain" class="drop_down" style = "background-color:#F0F3FA;">
        <option value="9"  class ="option_class" selected>Select</option>
        <option value="0"  class ="option_class" name="RESULT_RadioButton-6-4-0">0(Not at all)</option>
            <option value="1" class ="option_class" name="RESULT_RadioButton-6-4-1">1</option>
            <option value="2" class ="option_class" name="RESULT_RadioButton-6-4-2">2(Slightly)</option>
            <option value="3" class ="option_class" name="RESULT_RadioButton-6-4-3">3</option>
            <option value="4" class ="option_class" name="RESULT_RadioButton-6-4-4">4(Definitely)</option>
            <option value="5" class ="option_class" name="RESULT_RadioButton-6-4-5">5</option>
            <option value="6" class ="option_class" name="RESULT_RadioButton-6-4-6">6(Markedly)</option>
            <option value="7" class ="option_class" name="RESULT_RadioButton-6-4-7">7</option>
            <option value="8" class ="option_class" name="RESULT_RadioButton-6-4-8">8(Very severely)</option>
        
        </select>
        
        </div>
        
        </div>
        
      </div>
      
      
      
      </div>
      <!-- end of WSAS questions -->

          <div class="row" id="button_class" style="margin-left:0px;margin-right:0px;text-align:center;">
        
              <div class="buttons_reverse">
                <button type="button"  id="nextbutton2" name="Submit" value="Submit" (click)="submitPage2()" class="submit_button btn btn-primary">Submit</button>
               
              </div>
              </div>
      </div>

      <div class="container">
          <div class="pagination">
      
            <a href="#">1</a>
			  <a  class="active" href="#">2</a>
            
            
          </div>
          </div>
          
          
      </div>
      
      </div>
      </div>

<!-- new feedback design with color blocks -->
<div class="modal fade" id="feedbackmodal" role="dialog">
  <div class="modal-dialog modal-lg">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header modal-header-success" style="background: #4CAF50;color: white">
      <button type="button" class="btn btn-success" onclick="next_modal()" style="float:right;" data-dismiss="modal">&times;</button>
      
        <h5><b>FEEDBACK</b></h5>
      </div>
      
      <div class="modal-body text-justify">
      
        <div class="center-container" style="background-color:white;">
				
          <div class="col-md-9">
          <!-- <h5 style="text-align:left;margin-bottom:40px;">Our gauge of You:<br><br>-->
          <br><br>
          <h5>Based on your response, this is how we rate you, on current mood and  functioning indicators.</h5>
          </div>
          
          <div class="col-md-3">
          <!-- new table added -->
           <table style="margin-left:50px;">
            <tr style="margin-bottom:10px;">
            <td style="background-color:#dee7f4;width:15px;height:15px;"></td><td style="border:none;padding:0px;"><span style="text-align:right;margin-left:10px;">None</span></td>
            <!-- <br><span style="text-align:right;margin-left:10px;"> Reported</span> -->
            </tr>
            </table><br>
            
            <table style="margin-left:50px;">
            <tr style="margin-bottom:10px;">
            <td style="background-color:#66EAE8;width:15px;height:15px;"></td><td style="border:none;padding:0px;"><span style="text-align:right;margin-left:10px;">Mild</span></td>
            </tr>
            </table><br>
          
            <table style="margin-left:50px;">
            <tr>
            <td style="background-color:#0080ff;width:15px;height:15px;"></td><td style="border:none;padding:0px;"><span style="text-align:right;margin-left:10px;">Moderate</span></td>
            </tr>
            </table><br>
          
            <table style="margin-left:50px;">
            <tr>
            <td style="background-color:#000099;width:15px;height:15px;"></td><td style="border:none;padding:0px;"><span style="text-align:right;margin-left:10px;">Severe</span></td>
            </tr>
            </table>
            
          </div>
          <div class="clear"></div>
          
          <br><br>
          
          
          
          <div class="col-md-12">
          <div class="col-md-3 col-sm-3"><span style="font-weight:bold;text-align:right">Depressive Symptoms</span></div>
          <div class="col-md-1 col-sm-1 feedback_label" style="text-align:right;padding-right:0px;"><p>None 
        </p></div>
          
          <div class="col-md-7 col-sm-7">
          
            <table class="score_table" style="margin:0px;width:100%;">
            
            
            
            <tbody>
            
            <tr class="gradient_class">
            
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">None Reported</p></td>
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            
            </tr>
            
            
            <tr>
            
            <td style="height:15px;border:none;padding:0px;" id="arrow1"><p id="icon1" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            
            <td style="height:15px;border:none;padding:0px;" id="arrow2"><p id="icon2" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            <td style="height:15px;border:none;padding:0px;" id="arrow3"><p id="icon3" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            <td style="height:15px;border:none;padding:0px;" id="arrow4"><p id="icon4" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            
            </tr>
        
            
            <tr>
            
            <td style="height:15px;border:none;padding:0px;" id="col1_new"><p id="p1_new" class="hidden" style="color:black;text-align:center;font-weight:bold;">None Reported</p></td>
            
            <td style="height:15px;border:none;padding:0px;" id="col1"><p id="p1" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            <td style="height:15px;border:none;padding:0px;" id="col2"><p id="p2" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            <td style="height:15px;border:none;padding:0px;" id="col3"><p id="p3" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            
            </tr>
            
            </tbody>
            </table>
            
          </div>
          <div class="col-md-1 col-sm-1 feedback_label" style="text-align:left;"><p>Severe</p></div>
        </div>
          <div class="clear"></div>
          
          
          <div class="col-md-12">
          <div class="col-md-3 col-sm-3"><span style="font-weight:bold;">Anxiety Symptoms</span></div>
          <div class="col-md-1 col-sm-1 feedback_label" style="text-align:right;padding-right:0px;"><p>None</p></div>
          
          <div class="col-md-7 col-sm-7">
          
            <table class="score_table" style="margin:0px;width:100%;">
            
            
            <tbody>
            <tr class="gradient_class">
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">None Reported</p></td>
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:white;text-align:center;font-weight:bold;">Your Score</p></td>
            </tr>
           
            
            <tr>
            
            <td style="height:15px;border:none;padding:0px;" id="arrow5"><p id="icon5" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            
            <td style="height:15px;border:none;padding:0px;" id="arrow6"><p id="icon6" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            <td style="height:15px;border:none;padding:0px;" id="arrow7"><p id="icon7" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            <td style="height:15px;border:none;padding:0px;" id="arrow8"><p id="icon8" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            
            </tr>
            
            
            <tr>
            <td style="height:15px;border:none;padding:0px;" id="col4_new"><p id="p4_new" class="hidden" style="color:black;text-align:center;font-weight:bold;">None Reported</p></td>
            <td style="height:15px;border:none;padding:0px;" id="col4"><p id="p4" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            <td style="height:15px;border:none;padding:0px;" id="col5"><p id="p5" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            <td style="height:15px;border:none;padding:0px;" id="col6"><p id="p6" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            </tr>
            </tbody>
            </table>
            
          </div>
          <div class="col-md-1  col-sm-1 feedback_label" style="text-align:left;"><p>Severe</p></div>
        </div>

          <div class="clear"></div>
          
          
          <div class="col-md-12">
          <div class="col-md-3 col-sm-3"><span style="font-weight:bold;">Self-rated Suicidal Thoughts</span></div>
          <div class="col-md-1 col-sm-1 feedback_label" style="text-align:right;padding-right:0px;"><p>None</p></div>
          
          <div class="col-md-7 col-sm-7">
          
            <table class="score_table" style="margin:0px;width:100%;">
            
            
            <tbody>
            <tr class="gradient_class">
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">None Reported</p></td>
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score<br>(Minimal)</p></td>
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score<br>(Low)</p></td>
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score<br>(High)</p></td>
            </tr>
           
            <tr>
            <td style="height:15px;border:none;padding:0px;" id="arrow9"><p id="icon9" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            <td style="height:15px;border:none;padding:0px;" id="arrow10"><p id="icon10" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            <td style="height:15px;border:none;padding:0px;" id="arrow11"><p id="icon11" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            <td style="height:15px;border:none;padding:0px;" id="arrow12"><p id="icon12" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            </tr>
            
            <tr>
            <td style="height:15px;border:none;padding:0px;" id="col7_new"><p id="p7_new" class="hidden" style="color:black;text-align:center;font-weight:bold;">None Reported</p></td>
            <td style="height:15px;border:none;padding:0px;" id="col7"><p id="p7" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score<br>(Minimal)</p></td>
            <td style="height:15px;border:none;padding:0px;" id="col8"><p id="p8" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score<br>(Low)</p></td>
            <td style="height:15px;border:none;padding:0px;" id="col9"><p id="p9" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score<br>(High)</p></td>
            </tr>
            </tbody>
            </table>
            
          </div>
          <div class="col-md-1 col-sm-1 feedback_label" style="text-align:left;"><p>Severe</p></div>
        </div>
          <div class="clear"></div>
          
          <div class="col-md-12">
          
          <div class="col-md-3 col-sm-3"><span style="font-weight:bold;">Interference With<br> Daily Functioning</span></div>
          <div class="col-md-1  col-sm-1 feedback_label" style="text-align:right;padding-right:0px;"><p>None</p></div>
          
          <div class="col-md-7 col-sm-7">
            <table class="score_table" style="margin:0px;width:100%;">
            
            
            <tbody>
            <tr class="gradient_class">
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">None Reported</p></td>
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            <td style="height:15px;border:none;padding:0px;" id=""><p id="" class="hidden" style="color:white;text-align:center;font-weight:bold;">Your Score</p></td>
            </tr>
           
            <tr>
            <td style="height:15px;border:none;padding:0px;" id="arrow13"><p id="icon13" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            <td style="height:15px;border:none;padding:0px;" id="arrow14"><p id="icon14" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            <td style="height:15px;border:none;padding:0px;" id="arrow15"><p id="icon15" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            <td style="height:15px;border:none;padding:0px;" id="arrow16"><p id="icon16" class="hidden" style="color:black;text-align:center;font-weight:bold;"><span class="glyphicon glyphicon-arrow-up"></span></p></td>
            </tr>
            
            <tr>
            <td style="height:15px;border:none;padding:0px;"  id="col10_new"><p id="p10_new" class="hidden" style="color:black;text-align:center;font-weight:bold;">None Reported</p></td>
            <td style="height:15px;border:none;padding:0px;" id="col10"><p id="p10" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            <td style="height:15px;border:none;padding:0px;" id="col11"><p id="p11" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            <td style="height:15px;border:none;padding:0px;" id="col12"><p id="p12" class="hidden" style="color:black;text-align:center;font-weight:bold;">Your Score</p></td>
            </tr>
            </tbody>
            </table>
            
          </div>
          <div class="col-md-1 col-sm-1 feedback_label" style="text-align:left;"><p>Severe</p></div>
        </div>
          <div class="col-md-12">
          <div class="clear"></div>
          <div class="col-md-12">

            <p style="font-size:15px;text-align:justify;">
              <b>This tool is NOT meant to diagnose depression or anxiety and should NOT be  treated as a  substitute for professional consultation. 
            </b></p>
            <br>
            <p style="font-size:15px;text-align:justify;">
              <b>This page is meant to provide you a very basic/crude feedback about presence of depressive/anxiety symptoms and functioning, so that you may choose an appropriate course of action.
            </b></p>
            <p style="font-size:15px;text-align:justify;">
              <b>The feedback provided is dependent on your responses about current symptoms only. Moreover, this is not a comprehensive tool to asses all kinds of mental health concerns but is restricted to depressive and anxiety symptoms.

            </b></p>
          <p id="recommend" style="font-size:15px;text-align:center;"></p>
          
          <p id="feedback1" class="hidden" style="color:darkblue;"><b> 	You are experiencing mild severity of depressive symptoms.<br>
               You report minimal I disturbance in your functioning. <br>
                  In addition, you report no significant anxiety symptoms.<br>
                  Or <br>
                   In addition   you report minimal anxiety symptoms.<br><br><br>
                   You may register   for PUSH-D for self-help. <br><br>
                   Please   remember that PUSH-D is   not a tool for providing diagnosis, nor it is a substitute for professional   consultation and treatment. Seeking face to face professional consultation is useful   for provide an accurate and comprehensive evaluation of  mental health  issues. </b></p>
            
            <p id="feedback2" class="hidden" style="color:darkblue;"><b> 	You are experiencing moderate severity of depressive symptoms. <br>
                   Your responses indicate absence of significant suicidal thoughts or a sense of control over such thoughts. <br>
                    You have indicated clinically significant level/ moderate severity of disturbance in your functioning.<br>
                     In addition, you report mild/moderate level of anxiety symptoms.<br><br>
                     You may register for and use PUSH-D. But  we  would  strongly  recommend   you to use   it  as a supplement  /add-on to face  to face   professional  treatment.<br><br><br>
                     
                  Please   remember that PUSH-D is   not a tool for providing diagnosis, nor it is a substitute for professional   consultation and treatment. Seeking face to face professional consultation is useful   for provide an accurate and comprehensive evaluation of mental health  issues. 
                     </b></p>
                     
                     
            <p id="feedback3" class="hidden" style="color:darkblue;"><b>You are experiencing severe depressive symptoms.<br>
            Your responses indicate presence of suicidal thoughts and difficulties in controlling such thoughts<br>
            You have indicated clinically significant level/severe/ moderate severity of- disturbance in your functioning.<br>
            In addition,   you have indicated mild/moderate/severe anxiety symptoms.<br><br><br>
            We strongly recommend   you to seek face to face/direct professional help for   your mental health concerns. Mere reliance on PUSH-D will be very insufficient to help   you. We can provide    you guidance on seeking referral with a mental health professional in   your  region, if  you so desire Let us know  if   you need   such help in finding  a mental health professional  and  we  will try  to help  with that. Once   you have initiated  treatment,   you can  let us know/ request   your doctor  to contact  us and  we  can  re-examine  the  suitability of PUSH-D  for  you at that  point.  Email for contacting us: push.d.nimhans@gmail.com</b></p>
          
            <p style="font-size:15px;text-align:justify;">
              <b>Self-care includes being responsible for one’s health and reaching out for help  when you may need it
            </b></p>
            <p style="font-size:15px;text-align:justify;"><b>Links to self-help programmes:</b></p>
            <p style="font-size:15px;text-align:justify;"><b>PUSH-D</b></p>
            <p style="font-size:15px;text-align:justify;">
              <b>Practice and Use Self-Help for Depression (PUSH-D) is an internet based self help programme for depressive symptoms. Please click on the link below to know more and access PUSH-D. To skip the registration process that you just completed and start using PUSH-D directly,  mail us on push.d.nimhans@gmail.com or send a text to 9483029609
            </b></p>
            <a href="https://echargementalhealth.nimhans.ac.in/pushd/"><span style="color:blue;text-decoration:underline;"><b>Click Here for pushd</b></span></a>
           <br><br>
           <p style="font-size:15px;text-align:justify;"><b>PUSH-D PLUS</b></p>
            <p style="font-size:15px;text-align:justify;">
              <b>PUSH-D is now being tested/researched as a combination package (PUSH-D + few face-to-face sessions + weekly telephonic support). To know more or participate in the research, please mail us on push.d.nimhans@gmail.com or send a text to 9483029609
              </b></p>
              <p style="font-size:15px;text-align:justify;"><b>Wellness Check</b></p>
              <p style="font-size:15px;text-align:justify;"><b>Wellness check is a brief internet-based programme to help you learn and reflect on various aspects of your current mental well being and access some strategies for enhancing your well being. Click on the link below to access the programme
              </b></p>
              <a href="https://echargementalhealth.nimhans.ac.in/wellness-check/"><span style="color:blue;text-decoration:underline;"><b>Click Here For wellness-check</b></span></a>
          
          </div>
          </div>
        </div>
      
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" onclick="next_modal()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end of new design -->

      
      
    
