<div class="row" style="margin-left:0px;margin-right:0px;">
  <div class="col-md-12" style="text-align:center;background-color:black;color:white;">
    
   <h3 class="panel-heading" >
   <!-- <b>DEPARTMENT OF CLINICAL PSYCHOLOGY</b><br>
   <b>NATIONAL INSTITUTE OF MENTAL HEALTH AND NEUROSCIENCES</b> -->
   <b>WELCOME TO SAMS</b><br>
   <b>Self-Awareness of Mood Symptoms</b>
  </h3>
  
  </div>
  </div>

<div class="row" style="margin-bottom:20px;margin-left:0px;margin-right:0px;">
  <div class="col-md-12">
    <div class="col-md-3"></div>


    <div class="col-md-6" style="text-align:center;">
      <h1><b>SAMS</b></h1>
      <h3 style="text-align:left;">What is SAMS about?</h3><br>
      <p class="styleClass1">There are times we may experience feelings of sadness/low mood/tension/anxiety and we know this is very temporary and we are able to manage/resolve this fairly quickly.</p>
      <p class="styleClass1">There are other times, when these feelings/mood states are going on for a while and we wonder if it may be something more than just a temporary fluctuation in the mood.</p>
      <p class="styleClass1">This is a brief tool to help you reflect upon and understand the severity of depressive and anxiety symptoms. It also helps you become aware how much it may be interfering with your day-to-day functioning.</p>
      <p class="styleClass1">This website is developed by E-Charge mental health team <span><a href="https://echargementalhealth.nimhans.ac.in">(Click Here)</a></span> and is a joint venture between E-Charge team investigators at NIMHANS, Bengaluru and E-Health Research Centre, IIIT, Bengaluru, using standardized brief screening measures available in the public domain or incorporated with due permissions.</p>
      <br>
      <p class="styleClass1">Scope and Limitations of SAMS</p>
      <br>
      <p class="styleClass1">SAMS consists of a brief set of questions about your current feeling states. (survey). After you respond to the survey, you are directed to a feedback page. </p>
      <p class="styleClass1">This page is meant to provide you a very basic/crude feedback about presence of depressive/anxiety symptoms and their interference with your day-to day functioning, so that you may choose an appropriate course of action.</p>
      <p class="styleClass1">A face-to-face professional consultation is helpful in all instances if you have a mental health concern, to decide the best options for  you. </p>
      <p class="styleClass1">We recommend you to consult a mental health professional for face-to-face detailed evaluation for any mental health concern. </p>
      <p class="styleClass1">This tool is NOT meant to diagnose depression or anxiety and should NOT be  treated as a substitute for professional consultation.</p>
      
      <br>
      <p class="styleClass1">Terms of Use </p>
      <br>
      <p class="styleClass1">
        The feedback provided on SAMS is dependent on the responses you provide to the questions and is limited to current symptoms only. 
<br><br>Moreover, this is not a comprehensive tool to asses all kinds of mental health concerns but is restricted to depressive and anxiety symptoms. 
<br><br>You will not need to enter any personally identifying details such as name, phone number or email id. The summary data from all participants may be made use of for research. You need to enter your organization code. Your organization will receive data of employees of your organization in a summary format without identifying any individual employee. 

      </p>
      <p class="styleClass1">Such data may be used by the organization to understand mental health support  needs of the employees in general, and implement initiatives to address  employee wellbeing. 

      </p>
      <br>
      <h3>Awareness + Action are the twin steps towards self-care for maintaining our mental wellbeing!

      </h3>

      <span style="font-size:15px;"><b>I have read and understood the information on this page and want to proceed.</b></span> <input type="checkbox" class="checkbox_class" (change)="changeCheck($event)">
			<button type="button" class="btn btn-primary" (click)="nextPage()" style="margin-left: 44%; margin-right: 44%;" [disabled]="disabledAgreement">Submit</button>
			
			
    </div>

    <div class="col-md-3"></div>

  </div>
</div>
